.search 
    .container 
        .search__wrapper
            h2.search__wrapper-title For Daily Update Subscribe Now
            .search__inner 
                input(type="email" placeholder="Enter your email" required).search__inner-input 
                button(type="submit").search__inner-button Search
footer.footer
    .container 
        .footer__inner 
            .footer__content 
                a.footer__logo 
                    img(src="./img/logo.webp", alt="logo")
                    span Building 
                p.footer__content-text Lorem ipsum dolor sit amet, consectet adipiscing elit. Quam turpis sed ut fam tortor pharetra. Lorem auctor congue pellentesque facilisis diam
                .footer__content-social 
                    a(href="#!")
                        img(src="./img/facebooke.webp", alt="") 
                    a(href="#!")
                        img(src="./img/twitter.webp", alt="") 
                    a(href="#!")
                        img(src="./img/instagram.webp", alt="") 
                    a(href="#!")
                        img(src="./img/linkdin.webp", alt="") 
            ul.footer__list
                h6 Home
                li.footer__item
                    a.footer__link(href="#!") Procress
                li.footer__item
                    a.footer__link(href="#!") Listing
                li.footer__item
                    a.footer__link(href="#!") Popular Property
                li.footer__item
                    a.footer__link(href="#!") Out Agents
                li.footer__item
                    a.footer__link(href="#!") Testimonial
            ul.footer__list
                h6 Servise
                li.footer__item
                    a.footer__link(href="#!") Site map
                li.footer__item
                    a.footer__link(href="#!") Property type
                li.footer__item
                    a.footer__link(href="#!") Terms and conditions
                li.footer__item
                    a.footer__link(href="#!") Privacy policy
            ul.footer__list
                h6 About
                li.footer__item
                    a.footer__link(href="#!") About us
                li.footer__item
                    a.footer__link(href="#!") Who choose us?
                li.footer__item
                    a.footer__link(href="#!") Events
                li.footer__item
                    a.footer__link(href="#!") Blog
            ul.footer__list
                h6 Contact
                li.footer__item
                    a.footer__link(href="#!")
                        img(src="./img/footerphone.webp", alt="")
                        span  +888 561 258
                li.footer__item
                    a.footer__link(href="#!")
                        img(src="./img/footermail.webp", alt="")
                        span webmaile@gmail.com  
                li.footer__item
                    a.footer__link(href="#!")
                        img(src="./img/footerplay.webp", alt="")
                        span  Google play
                        
                        
                        
 
            
         
        
                
                
   
          



              
