main 
    section.about 
        .container 
            .about__inner
                .about__left 
                    img(src="./img/aboutleftimg.webp" alt="").about__left-img 
                    img(src="./img/aboutleftabs.webp" alt="").about__left-abs 
                .about_right
                    h6.about__right-suptitle About as 
                    h2.defoult__title We are Specializing in interior Improvments
                    p.about__right-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra posuere sem purus enim eleifend habitant arcu, sed.
                    .about__right-info 
                        .about__right-info-consul
                            img(src="./img/about-right-img1.webp" alt="") 
                            h4 Free Consultaion 
                            p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.
                        .about__right-info-consul
                            img(src="./img/about-right-img2.webp" alt="")
                            h4 Best Team Members 
                            p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.
                    a(href="#!").about__btn Explore Now
    section.house  
        .container 
            h2.house__title What are you looking for?
            .house__inner   
                .house__inner-left 
                    img(src="./img/house-img.webp" alt="")
                .house__inner-right 
                    .house__inner-right-item
                        img(src="./img/house-family.webp" alt="")
                        .house__inner-right-item-info 
                            h5 Family House
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum euismod risus 
                    .house__inner-right-item
                        img(src="./img/apartmen.webp" alt="")
                        .house__inner-right-item-info 
                            h5 Apartment
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum euismod risus 
                    .house__inner-right-item
                        img(src="./img/studio.webp" alt="")
                        .house__inner-right-item-info 
                            h5 Studio  Offices
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum euismod risus 
                    .house__inner-right-item
                        img(src="./img/villa.webp" alt="")
                        .house__inner-right-item-info 
                            h5 Villa  Condo
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum euismod risus 
    //- section.country 
    //-     .container 
    //-         h2.country__title Most Popular Places
    //-         p.country__info  Lorem ipsum dolor sit amet, consectetur adipiscing elit.   
    //-         .country__content 
    //-             .country__content-item
    //-                 img(src="./img/bangladesh.webp" alt="").country__content-item-img
    //-                 .country__content-item-info       
    //-                     h5 Bangladesh
    //-                     p  50 Properties                     
    //-             .country__content-item
    //-                 img(src="./img/japan.webp" alt="").country__content-item-img
    //-                 .country__content-item-info
    //-                     h5 Japan
    //-                     p  50 Properties                       
    //-             .country__content-item
    //-                 img(src="./img/malaysia.webp" alt="").country__content-item-img
    //-                 .country__content-item-info 
    //-                     h5 Malaysia
    //-                     p  50 Properties                   
    //-             .country__content-item
    //-                 img(src="./img/london.webp" alt="").country__content-item-img
    //-                 .country__content-item-info 
    //-                     h5 London  
    //-                     p  50 Properties                       
    //-             .country__content-item
    //-                 img(src="./img/india.webp" alt="").country__content-item-img
    //-                 .country__content-item-info 
    //-                     h5 India
    //-                     p  50 Properties                       
    //- section.choose
    //-       .container 
    //-         .choose__content
    //-             .choose__content-left
    //-                 h2 Who Choose Us?
    //-                 p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio laoreet sit neque sagittis. Gravida viverra at auctor sed aliquam. Sed magna eros lectus amet, viverra. Ultrices diam, volutpat sit ut feugiat semper interdum dapibus. Et malesuada tempus lacus at ornare gravida ornare nulla dui. Velit tellus elit consectetur dui vel convallis eu in lectus. Vitae id est, suspendisse suspendisse.
    //-                 .choose__content-left-btn
    //-                     a(href="#!") Read more 
    //-                     img(src="./img/arrowright.webp", alt="")
    //-             .choose__content-right 
    //-                     img(src="./img/choose.webp", alt="")
    //- section.people 
        .container 
            h2.people__title What People Say
            p.people__suptitle Lorem ipsum dolor sit amet, consectetur 
            .people__content 
                .people__content-item
                    img(src="./img/williams.webp", alt="")
                    .people__content-item-info
                        h3 Williamsons
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit tortor proin risus amet habitant. 
                .people__content-item
                    img(src="./img/farhad.webp", alt="")
                    .people__content-item-info
                        h3 Farhad Reja
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit tortor proin risus amet habitant. 
                .people__content-item
                    img(src="./img/peter.webp", alt="")
                    .people__content-item-info
                        h3 Peter sams
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit tortor proin risus amet habitant. 

